{{ define "flight/index.html" }}
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8">
      <link rel="stylesheet" href="/static/css/main.css">
      <title>Radar - {{ .pagename }}</title>
    </head>
    <body>
      <img id="logo" src="/static/img/Captain.png">
      <h1>Airspace {{ .airspace.HumanName }}: Flights</h1>
      <ul>
        {{ range .flights }}
        <li>
          <a href="/airspace/{{ $.airspace.ID }}/{{ .ID }}">{{ .Name }}</a>
          <form action="/airspace/{{ $.airspace.ID }}/{{ .ID }}/delete" method="POST">
            <input type="submit" value="Delete" id="delete">
          </form>
        </li>
        {{ end }}
      </ul>
      <hr />
      <h2>New Flight</h2>
      <form action="/airspace/{{ $.airspace.ID }}" method="POST">
        <div>
          <label for="Name">NetName:</label>
          <input type="text" name="Name" id="Name" required>
        </div>
        <div>
          <input type="submit" value="Create" id="submit">
        </div>
      </form>
    </body>
  </html>
{{ end }}