{{ define "formation/index.html" }}
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8">
      <title>Radar - {{ .pagename }}</title>
    </head>
    <body>
      <h1>{{ .airspace.HumanName }} > {{ .flight.Name }}: Formations</h1>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>CPU</th>
            <th>RAM</th>
            <th>Disk</th>
            <th>FQDN</th>
            <th>Scale</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {{ range .formations }}
            <tr>
              <td>{{ .Name }}</td>
              <td>{{ .CPU }}</td>
              <td>{{ .RAM }}</td>
              <td>{{ .Disk }}</td>
              <td>{{ .BaseName }}X.{{ .Domain }}</td>
              <td>{{ .TargetCount }}</td>
              <td>
                <form action="/airspace/{{ $.airspace.ID }}/{{ $.flight.ID }}/{{ .ID }}/delete" method="POST">
                  <input type="submit" value="Delete">
                </form>
              </td>
            </tr>
          {{ end }}
        </tbody>
      </table>
      <hr />
      <h2>New Formation</h2>
      <form action="/airspace/{{ $.airspace.ID }}/{{ $.flight.ID }}" method="POST">
        <div>
          <label for="Name">NetName:</label>
          <input type="text" name="Name" id="Name" required>
        </div>
        <div>
          <label for="CPU">CPU:</label>
          <input type="number" name="CPU" id="CPU" required>
        </div>
        <div>
          <label for="RAM">RAM:</label>
          <input type="number" name="RAM" id="RAM" required>
        </div>
        <div>
          <label for="Disk">Disk:</label>
          <input type="number" name="Disk" id="Disk" required>
        </div>
        <div>
          <label for="BaseName">BaseName:</label>
          <input type="text" name="BaseName" id="BaseName" required>
        </div>
        <div>
          <label for="Domain">Domain:</label>
          <input type="text" name="Domain" id="Domain" required>
        </div>
        <div>
          <label for="TargetCount">Scale:</label>
          <input type="number" name="TargetCount" id="TargetCount" required>
        </div>
        <div>
          <input type="submit" value="Create">
        </div>
      </form>
    </body>
  </html>
{{ end }}