[Unit]
Description=Captain ATC service
After=network.target

[Service]
Type=simple
WorkingDirectory=/etc/captain/atc
ExecStart=/usr/local/bin/captain-atc
Restart=on-failure

[Install]
WantedBy=default.target